:root {
  --primary: #eaeaea;
  --outline: #121212;
}

.btn {
  padding: 0.5em 1em;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.btn--primary {
  color: #121212;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn--outline {
  padding: 0.5em 1rem;
  color: #eaeaea;
  background-color: transparent;
  border: 1px solid var(--primary);
  transition: all 0.313s ease-out;
}

.btn--medium {
  padding: 0.5em 1em;
  font-size: 1rem;
}

.btn--large {
  padding: 1em 1em;
  font-size: 2rem;
}

.btn--mobile {
  width: 69%;
  padding: 1em 1em;
  color: #eaeaea;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}

.btn--wide {
  padding: 1em 4em;
  font-size: 1rem;
}

.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
  color: #121212;
  background: #eaeaea;
  transition: all 0.313s ease-out;
}

.btn--wide:hover {
  color: #121212;
  background-color: #eaeaea;
  transition: all 0.228s ease-out;
}

.btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5em 1em;
  text-decoration: none;
}

.blue {
  color: #eaeaea;
  background-color: #276afb;
  border: none;
}

.red {
  color: #eaeaea;
  background-color: #ff72a8;
  border: none;
}

.primary {
  color: #121212;
  background-color: #eaeaea;
  border: none;
}

.primary:hover {
  color: #eaeaea;
  background-color: #121212;
  border: none;
}

.green {
  color: #eaeaea;
  background: #25ce4a;
  border: none;
}

.green:hover {
  background-color: #ec1b4b;
}

.black {
  margin-bottom: 6rem;
  color: #121212;
  background-color: transparent;
  border: 2px solid var(--outline);
}

.black:hover {
  color: #eaeaea;
  background-color: #121212;
  border: 2px solid var(--primary);
}
