.card__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10em 0 12em;
  background: #eaeaea;
}

.card__link {
  flex-basis: 40%;
  width: 15rem;
  height: 30rem;
  margin: 2rem;
  text-decoration: none;
  background: linear-gradient(45deg, #9762e3 0%, #121212 100%);
  border-radius: 4px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
}

.card__link:nth-child(1),
.card__link:nth-child(4) {
  background: #121212;
  transform: scale(1.05);
}

.card__link:hover {
  color: #121212;
  transform: scale(1.12);
  transition: all 0.3s ease-out;
}

.card__link:nth-child(1),
.card__link:nth-child(4) {
  margin: 0 2em;
}

.card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.card__heading {
  margin-bottom: 2em;
  color: #121212;
  font-size: 3rem;
  font-style: bold;
  text-align: center;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30em;
  padding: 1em;
  color: #eaeaea;
}

.card__info h2 {
  margin-bottom: 0.5em;
  font-weight: bolder;
  font-size: 2rem;
  font-style: italic;
  text-transform: capitalize;
}

.card__info h3 {
  font-size: 2rem;
}

.card__info p {
  margin-bottom: 1em;
  font-size: 1rem;
}

.card__features {
  margin: 1em 0 2em;
  font-size: 18px;
  text-align: center;
  list-style: none;
}

.card__features li {
  margin-bottom: 1em;
}

.card__features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__icon {
  margin: 2em 0;
}

@media screen and (max-width: 1024px) {
  .card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .card__link {
    width: 90%;
  }

  .card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3em;
  }

  .card__link:nth-child(3) {
    order: 1;
  }

  .card__link:nth-child(1),
  .card__link:nth-child(4) {
    margin: 2em;
    background: #121212;
    transform: scale(1);
  }

  .card__link:hover {
    transform: none;
  }
}
