footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  color: #eaeaea;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #121212;
  box-shadow: 0 -0.1em 0.1em #121212;

  @media screen and (orientation: landscape) {
    & {
      flex-direction: row;
    }
  }

  & * {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }

  & > .footer-icons {
    gap: 2em;
  }
}

.footer-license {
  white-space: pre-wrap;
}

.footer-license a {
  text-decoration: underline;
}

.footer-copyright:hover {
  text-decoration: underline;
}
