@media screen and (min-width: 1024px) {
  .fullscreen {
    height: 100vh;
  }
}

.home__hero-section {
  padding: 3rem 0;
  color: #eaeaea;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  flex: 1;
  flex-basis: 50%;
  max-width: 50%;
  margin-bottom: 2em;
  padding-right: 2em;
  padding-left: 2em;
}

.col__text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 5em;
}

.text-wrapper__top {
  color: #9762e3;
  font-weight: lighter;
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  word-spacing: 1rem;
}

.text-wrapper__heading {
  font-size: 3rem;
}

.dark-content {
  color: #121212;
}

.dark-background {
  background-color: #121212;
}

.text-wrapper__subtitle {
  max-width: 480px;
  margin-top: 2em;
  margin-bottom: 3em;
  font-size: 2rem;
  line-height: 2rem;
}

.col__image-wrapper {
  max-width: 640px;
}

.image-wrapper__content {
  max-width: 90%;
  margin-left: 0.5em;
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-right: 2em;
    padding-left: 2em;
  }
}

@media screen and (max-width: 768px) {
  .col__text-wrapper {
    padding-bottom: 4em;
  }

  .col {
    flex-basis: 100%;
    max-width: 100%;
  }
}
