.slider {
  background-color: #eaeaea;
}

.team__heading {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 9rem;
  color: #121212;
  font-size: 3rem;
  font-style: bold;
}

.team__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
}

.image {
  width: 333px;
  height: 320px;
  border-radius: 7px;
}

.left-arrow,
.right-arrow {
  padding-bottom: 9rem;
  color: #9762e3;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  margin-right: 8rem;
}

.right-arrow {
  margin-left: 8rem;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  transform: scale(1.08);
  opacity: 1;
  transition-duration: 1s;
}

.team__name {
  padding-top: 1rem;
  font-weight: bolder;
  font-size: 1.7rem;
  text-align: center;
}

.team__role {
  padding-bottom: 7rem;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}

.team__click-more {
  display: flex;
  justify-content: center;
}
