.smooth {
  position: fixed;
  bottom: 7rem;
  left: 90%;
  z-index: 1;
  height: 2rem;
  color: #9762e3;
  font-size: 3rem;
  cursor: pointer;

  @media (max-width: 1024px) {
    display: none;
  }
}
